.container {
  background: rgba(246, 247, 248, 0.5);
  border: 1px solid rgb(232, 234, 238);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.iconsContainer {
  /* margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; */
}
