.container {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.card {
  background: rgba(246, 247, 248, 0.5);
  border: 1px solid rgb(232, 234, 238);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: flex-start;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.iconPreviewCard {
  min-width: 450px;
  background: rgba(246, 247, 248, 0.5);
  border: 1px solid rgb(232, 234, 238);
  border-radius: 8px;
  position: relative;
}

.selectedIconName {
  padding: 0.5rem 1rem;
}

.previewIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.tooltip {
  position: absolute;
  top: -18px;
  right: 5px;
  color: #000;
  font-size: 12px;
}

.importStatement {
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 1rem;
  font-family: monospace;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.filterLabel {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 300px;
  transition: all 0.2s ease-in;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: flex-start;
}

.iconsContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
